@import "../../node_modules/@toast-ui/chart/dist/toastui-chart.css";
@import "./chart-container.scss";
@import "./dropdown.scss";
@import "./nav.scss";
@import "./selection.scss";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
}
