@import "../../node_modules/@toast-ui/chart/dist/toastui-chart.css";
@import "./chart-container.scss";
@import "./dropdown.scss";
@import "./nav.scss";
@import "./selection.scss";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;

  main {
    height: 100%;

    .app {
      overflow: hidden;
      height: 100%;
      display: grid;
      grid-template-rows: 75px 85px 16px 1fr;

      .data-date-container {
        width: 85%;
        margin: auto;

        span {
          font-style: italic;
          font-size: 14px;

          a {
            color: black;
            text-decoration: none;
            transition: all 0.2s;

            &:hover {
              color: black;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
