@import "../../node_modules/@toast-ui/chart/dist/toastui-chart.css";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;

  .input-container {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
