.selection-form {
  width: 100%;

  @media only screen and (min-width: $mobile-width) {
    &.filter {
      width: 125px;
    }
  }

  // This is such a stupid fix...
  label {
    padding-right: 6px;
    background-color: white;
  }
}
